{% extends "base.html" %}

{% block title %}Moving...{% endblock %}

{% block content %}

<div class="instruction-container">
  <h2 class="instruction-text">You are moving to</h2>
</div>
<h1 class="moving-destination-text">{{ destination }}</h1>
<div class="bottom-button-container-center">
  <a href="https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination={{ destination }}" target="_blank">
    <button class="open-google-maps-button">Open Google Maps</button>
  </a>
</div>
<div class="bottom-button-container-center">
  <a href="{% url 'randomtrip:roulette' %}">
    <button class="arrived-button">Arrived!</button>
  </a>
</div>

{% endblock %}
