{% extends "base.html" %}

{% block title %}Next Destination{% endblock %}

{% block content %}

<div class="instruction-container-left">
  <h2 class="instruction-text">Your next destination is...</h2>
</div>
<div class="next-destination-box">
  <div class="loading-overlay">
    <div class="spinner"></div>
  </div>
  <h1 class="next-destination-text"></h1>
  <h3 class="next-destination-address"></h3>
  <p class="next-destination-description"></p>
  {% if show_homepage == "true" %}
  <a href="" target="_blank" id="go-to-homepage-link">
    <button class="go-to-homepage-button">Go to homepage</button>
  </a>
  {% else %}
  <a href="" target="_blank" id="google-destination-link">
    <button class="google-destination-button">Google ""</button>
  </a>
  {% endif %}
</div>
<div class="bottom-button-container-space">
  <a id="spin-again-link">
    <button class="spin-again-button" data-url="{% url 'randomtrip:roulette' %}">Spin Again</button>
  </a>
  <a id="go-to-this-place-link">
    <button class="go-to-this-place-button" data-url="{% url 'randomtrip:moving' %}">Go to this place</button>
  </a>
</div>

{% endblock %}
