{% extends "base.html" %}

{% block title %}Random Trip{% endblock %}

{% block content %}

<div class="instruction-container-center">
  <h3 class="instruction-text">Trip to somewhere within</h3>
  <select id="distance-input">
    <option value="10">10</option>
    <option value="10">30</option>
    <option value="50">50</option>
    <option value="10000">All</option>
  </select>
  <h3 class="instruction-text">km</h3>
</div>
<div id="loader" class="loader-container">
  <div class="loader"></div>
</div>
<a id="spin-roulette-link">
  <button id="spin-roulette" data-url="{% url 'randomtrip:next-destination' %}">Spin a Roulette</button>
</a>

{% endblock %}